.wrapper {
  max-width: 1197px;
  margin: 0 auto;
  @media (max-width: 768px) {
      padding: 0 41px;
  }
  @media (max-width: 414px) {
      padding: 0 21px;
  }
}

.dictionary-tools__checkbox_text {
  margin: 0;
  align-items: center;
}
input[type=checkbox] {
  height: 20px;
  width: 20px;
}

.dictionary-tools__checkbox {
  font-size: 1.2rem;
  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
  @media (max-width: 414px) {
    display: none;
}
}

.dictionary-control, .dictionary-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0 ;
  @media (max-width: 414px) {
    flex-direction: column;
  }
}

.dictionary-tools {
  @media (max-width: 414px) {
    flex-direction: column-reverse;
  }
}

.dictionary-tools__sorting {
  &_all {
    background-image: url('../static/images/dictionary/studyAll.svg');
    width: 30px;
    height: 30px;
  }
  
  &_new {
    background-image: url('../static/images/dictionary/studyNew.svg');
    width: 30px;
    height: 30px;
  }
  &_studying {
    background-image: url('../static/images/dictionary/studying.svg');
    width: 30px;
    height: 30px;
  }
  &_studied {
    background-image: url('../static/images/dictionary/studied.svg');
    width: 30px;
    height: 30px;
  }
}

.dictionary-container {
  align-items: center;
  margin: 20px 0 0 0 ;
}

// .dictionary-tools__search {
//   border: 2px solid rgba(117, 117, 117, 0.397);
//   border-radius: 10px;
//   padding: 10px;
//   width: 90%;
//   outline: none;
//   // @media (max-width: 414px) {
//   //   width: 100%;
//   // }
// }

// #search-form {
//   justify-content: space-around;
//   display: flex;
//   flex-direction: row;
//   width: 70%;
//   outline: none;
//   @media (max-width: 414px) {
//     width: 100%;
//   }
// }

// .dictionary-tools__submit-btn {
//   border: none;
//   background-repeat: no-repeat;
//   background-image: url('../static/images/dictionary/search.svg');
//   width: 35px;
//   height: 35px;
// }

@mixin transition-button($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.learn-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &:focus {
    outline: none;
  }
  &.learn-more {
    width: 12rem;
    height: auto;
    .learn-button_circle {
      @include transition-button(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #00695c;
      border-radius: 10px;
      .icon {
        @include transition-button(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
        &.arrow {
          @include transition-button(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition-button(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #00695c;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .learn-button_circle {
      width: 100%;
      .icon {
        &.arrow {
        background: #fff;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: #fff;
    }
  }
}
