.words-main-page {
  width: 70%;
  width: 90%;
  margin: 38px auto;
  display: flex;
  justify-content: flex-end;
    @media (min-width: $breakpoint-sm) {
      width: 680px;
      background-image: url('../static/images/learn-words/words-main-bg.svg');
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 30%;
    }
}

.words-main-content {
  background-color: #F4F6FA;
  width: 100%;
  padding: 20px;
    @media (min-width: $breakpoint-sm) {
      width: 70%;
      padding: 40px;
    }
}

.words-main-title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
  margin-right: 0;
    @media (min-width: $breakpoint-sm) {
      font-size: 30px;
    }
}

.words-main-descr {
  font-size: 20px;
  margin: 0 auto;
  color: rgba(89,89,89,.62);
}

.words-main-btn {
  @include btn-reset;
  margin-top: 38px;
  width: 180px;
  border-radius: 0;
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: 1px;
  transition: .2s;
  box-shadow: none;
  background-color: #2a2a2a;
  color: #fff;
  padding: 15px 15px;
}

.words-main-btn:focus {
  outline: none;
}

.words-main-btn:hover {
  box-shadow: 2px 2px 0 0 #5e606a;
  background-color: #fff;
  color: $color-dark;
}