.start-timer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-spinner {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../static/images/savannah/icon-loader.svg');
}

.timer {
  text-align: center;
  font-size: 115px;
}