// ---------------------------------------------------------
// @Bootstrap Color System
// ---------------------------------------------------------

$blue   : #2196f3;
$indigo : #3f51b5;
$purple : #9c27b0;
$pink   : #e91e63;
$red    : #f44336;
$orange : #ff9800;
$yellow : #ffeb3b;
$green  : #4caf50;
$teal   : #009688;
$cyan   : #00bcd4;

// ---------------------------------------------------------
// @Default Colors
// ---------------------------------------------------------

$default-danger       : #ff3c7e; //кнопки типа удалить и прочее опасные
$default-dark         : #313435;
$default-grey         : #565a5c;
$default-info         : #0f9aee; //кнопки типа продолжить и прочие информационные
$default-primary      : #7774e7;
$default-success      : #37c936; //кнопки типа завершить и прочие success
$default-warning      : #fc0; //кнопки типа редактировать и прочее с важной инфой
$default-white        : #fff; //если нужен контрастный цвет текста
$default-text-color   : #000; //базовый цвет текста

// ---------------------------------------------------------
// @Others
// ---------------------------------------------------------

$border-color         : #e6ecf5;
$collapsed-size       : 70px;
$header-height        : 65px;
$offscreen-size       : 280px;
