$color-dark: #2a2a2a;
$color-white: #ffffff;
$color-grey: #92959E;
$color-dark-grey: #1d1f1f9e;
$color-black--light: #2d2d2d;
$wrong: rgb(228, 19, 81); 
$correct: rgb(0, 216, 151);
$font-primary: "Arial", sans-serif;
$font-size: 22px;
$font-size-big: 44px;
$line-height: 30px;
$font-size--title: 44px;
$line-height--title: 50px;
$mobile: 320px;
$tablet: 540px;
$desctop: 960px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
